# Server porti
PORT=3000

# MongoDB ulanish havolasi (O'zingizning MongoDB connection stringingizni kiriting)
MONGO_URL=mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/database_name?retryWrites=true&w=majority

# JWT Maxfiy kalitlari (Kamida 32 ta belgidan iborat tasodifiy kalit qo'ying)
JWT_ACCESS_SECRET=your_super_secret_access_token_key_here
JWT_REFRESH_SECRET=your_super_secret_refresh_token_key_here

# Muhit
NODE_ENV=development
